*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* TABLE OF CONTENTS 
    0. general
    1. header
    2. search-bar
    3. body
        a. champions
    4. modal1
        a. main info
        b. champ name
        c. nav
        body of info modal
    z. media queries
*/
/* 0. general ruling */
body, html {
  padding: 0;
  margin: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000000;
  font-family: 'Lato', sans-serif;
}

/* 1. header */
.header {
  background: url(./video-game-league-of-legends-zed-facebook-cover.jpg) no-repeat center center;
  background-color: #00000099;
  background-blend-mode: multiply;
  background-size: 100% 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: Min(350px, 50vw);
  width: Min(90vw, 750px);
}

.header-photo {
  width: 97%;
  height: 95%;
}

/* 2. search-bar */
.search-sect {
  position: fixed;
  right: 0;
  top: 0;
  font-weight: bold;
  bottom: 0;
  color: #ffffff;
  width: calc((100vw - Min(90vw, 750px)) / 2);
  padding-top: 50px;
  padding-left: 20px;
}

.search {
  width: calc(calc((100vw - Min(90vw, 750px)) / 2) - 40px);
  outline: none;
  border: none;
  background: #bbbbbb;
  color: #000000;
  font-weight: bold;
  margin-top: 15px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 3px #ddd;
          box-shadow: 0 0 3px #ddd;
  padding: 5px 12.5px;
}

/* 3. body */
.container {
  margin-top: 20px;
  width: Min(90vw, 750px);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(70px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
}

.champ-hover-display {
  position: absolute;
  color: white;
  z-index: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  display: none;
  font-size: 0.75rem;
  cursor: pointer;
}

/* 3a. champions */
.champions-card {
  position: relative;
}

.champions-card,
.champ-img {
  height: 75px;
  width: 75px;
}

.champ-img:focus {
  opacity: 0.7;
  -webkit-transform: scale(92.5%);
          transform: scale(92.5%);
}

.champ-img:hover {
  opacity: 0.65;
  cursor: pointer;
  -webkit-transform: scale(92.5%);
          transform: scale(92.5%);
}

.champ-img:active {
  opacity: 0.45;
  -webkit-transform: scale(87.5%);
          transform: scale(87.5%);
}

/* 4. modal 1 --- general info of each champion */
/* We should have here an image, lore, info (atk def etc.), display of skills, navigation between info-page, skill modal page, and skins page --- all in modal */
.darker-modal {
  background: #00000099;
  position: fixed;
  height: 100vh;
  width: 100vw;
  inset: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.champ-info {
  background: #00000099;
  position: fixed;
  height: 100vh;
  width: 100vw;
  inset: 0;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: Min(30vw, 310px) calc(100vw - (Min(30vw, 310px)));
      grid-template-columns: Min(30vw, 310px) calc(100vw - (Min(30vw, 310px)));
      grid-template-areas: "image info";
  padding: 0 Min(100px, 2vw);
  -webkit-box-shadow: 0 0 10px 5px #ffffff80;
          box-shadow: 0 0 10px 5px #ffffff80;
}

.champ-info-img {
  margin: 0;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: image;
  width: Min(30vw, 310px);
  height: Min(54vw, 560px);
}

.champ-info-img-small {
  display: none;
}

/* main info --- the right side of info page */
.main-info-container {
  height: Min(100vw, 560px);
  width: calc(100vw - (Min(30vw, 310px)));
  background: #00000099;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 100px 30px 40px;
  overflow: auto;
  overflow-x: hidden;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: info;
}

/* champ name*/
.champ-info-name {
  color: #ffffff;
  font-size: Clamp(1.4rem, 3.5vw, 2.5rem);
  margin: 0;
}

.champ-info-title {
  font-size: Clamp(0.8rem, 1.5vw, 1.5rem);
  color: #bbbbbb;
  margin: 5px 0 10px;
}

/* nav */
.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  width: calc(100vw - (Min(30vw, 310px)) - 120px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.moda-nav {
  font-size: Clamp(0.75rem, 1.5vw, 1rem);
  color: #000000;
  display: inline-block;
  background: #777777;
  padding: Min(10px, 1.5vw) Min(23.5px, 3vw);
  border-radius: 20px;
}

.moda-nav:hover,
.moda-nav:focus {
  color: #ffffff;
  cursor: pointer;
  background: #000000;
}

.current-nav {
  color: #ffffff;
  background: #000000;
}

/* body of info modal */
.lore-text {
  color: #bbbbbb;
  font-size: Clamp(0.75rem, 1.7vw, 1.2rem);
  font-weight: 900;
  outline: none;
  text-indent: 3rem;
  line-height: 1.5rem;
}

.lore-text:hover {
  color: #ffffff;
  cursor: pointer;
}

.tag-skill-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 75px 1fr;
      grid-template-columns: 75px 1fr;
}

.tag-container {
  color: #bbbbbb;
}

.tag-header {
  font-size: Clamp(0.95rem, 1.7vw, 1.2rem);
  margin: 20px 0 15px;
}

.champ-tags {
  display: block;
  margin: 7.5px 30px;
  font-size: Clamp(0.75rem, 1.7vw, 1.1rem);
  font-weight: 900;
}

.tag-support {
  color: #eee;
}

.tag-fighter {
  color: #751e1e;
}

.tag-assassin {
  color: #db2020;
}

.tag-tank {
  color: #777445;
}

.tag-mage {
  color: blue;
}

.tag-marksman {
  color: green;
}

.champ-info-skills-container {
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.champ-info-skill-img {
  width: Min(7.5vw, 50px);
}

.close-modal-btn {
  position: absolute;
  top: 35px;
  right: 40px;
  padding: 5px 12.5px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #000000;
  color: #ffffff;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  opacity: 0.5;
  -webkit-box-shadow: 0 0 3px #00000050;
          box-shadow: 0 0 3px #00000050;
}

.close-modal-btn:hover {
  cursor: pointer;
  opacity: 0.95;
}

/* z. media queries */
@media all and (max-width: 950px) {
  .search-sect {
    position: relative;
    width: Min(90vw, 750px);
    background: transparent;
    text-align: right;
    padding: 10px 0;
  }
  .search {
    width: Min(220px, 30vw);
    margin-left: 10px;
  }
}

@media all and (max-width: 700px) {
  .champ-info {
    -ms-grid-rows: Min(30vw, 310px) calc(100vh - (Min(30vw, 310px)));
        grid-template-rows: Min(30vw, 310px) calc(100vh - (Min(30vw, 310px)));
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "image" "info";
  }
  .champ-info-img {
    display: none;
  }
  .champ-info-img-small {
    display: block;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: image;
    height: Min(30vw, 310px);
    width: 50vw;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .nav-container {
    width: 100%;
  }
  .main-info-container {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: info;
    width: 100vw;
    height: calc(100vh - (Min(30vw, 310px)));
    bottom: 0;
    padding: 30px 65px;
  }
  .tag-skill-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .tag-header {
    display: inline-block;
    margin-right: 1rem;
  }
  .champ-tags {
    display: inline-block;
    margin: 0;
    margin: 0 .3rem;
  }
  .champ-info-skills-container {
    margin: 20px auto;
  }
}
/*# sourceMappingURL=styles.css.map */